div.wlby_movie
{
	overflow: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	width: 550px;
	height: 400px;
}
.wlby_text p { padding: 0; margin: 0; }

a.wlby_classic-link { color: inherit; text-decoration: none; }
a.wlby_classic-link:link { color: inherit; text-decoration: none; }
a.wlby_classic-link:hover { color: inherit; text-decoration: none; }
a.wlby_classic-link:active { color: inherit; text-decoration: none; }
a.wlby_classic-link:visited { color: inherit; text-decoration: none; }

a.wlby_tlf-link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:link { color: inherit; text-decoration: none; }
a.wlby_tlf-link:hover { color: inherit; text-decoration: none; }
a.wlby_tlf-link:active { color: inherit; text-decoration: none; }
a.wlby_tlf-link:visited { color: inherit; text-decoration: none; }

.wlby_button > * { visibility: hidden; }
.wlby_button > .wlby_button_normal { visibility: visible; }
.wlby_button:hover > .wlby_button_normal { visibility: hidden; }
.wlby_button:hover > .wlby_button_hover { visibility: visible; }
.wlby_button:active > .wlby_button_normal { visibility: hidden; }
.wlby_button:active > .wlby_button_hover { visibility: hidden; }
.wlby_button:active > .wlby_button_active { visibility: visible; }

@-webkit-keyframes wlby_frameset-animation {
	from { }
	to { }
}

.wlby_button 
{
}

.wlby_fs, .wlby_graphic 
{
	-webkit-animation-name: wlby_frameset-animation;
}

.wlby_graphic 
{
	-webkit-animation-duration: 1s;
}

.wlby_masked 
{
	height: inherit;
	position: inherit;
	width: inherit;
}

.wlby_sprite 
{
	-webkit-animation-name: wlby_frameset-animation;
	-webkit-animation-iteration-count: infinite;
}

.wlby_13
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -143.5, -68.5);
}

.wlby_14
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -98.3, -47.35);
}

.wlby_15
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, -98.3, -44.35);
}

.wlby_3
{
	-webkit-animation-duration: 0.0416667s;
}

.wlby_8
{
	-webkit-animation-duration: 0.0416667s;
	display: none;
}

.wlby_2
{
	-webkit-animation-duration: 0.0833333s;
}

.wlby_6
{
	-webkit-animation-duration: 0.125s;
}

.wlby_1
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 21.331, 10.036);
}

.wlby_4
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 40, 32);
}

.wlby_11
{
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 77.7, 67.65);
}

.wlby_17
{
	-webkit-animation-duration: 0.0416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 253.25, 142.55);
}

.wlby_16
{
	-webkit-animation-duration: 0.0833333s;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 253.25, 142.55);
}

.wlby_18
{
	-webkit-animation-duration: 0.0833333s;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 260.6, 148.05);
}

.wlby_19
{
	-webkit-animation-duration: 0.0416667s;
	display: none;
	position: absolute;
	-webkit-transform: matrix(1, 0, 0, 1, 260.6, 153.15);
}

.wlby_5
{
	position: absolute;
	-webkit-transform:matrix(0.747696,0,0,0.810028,25.814,238.586);
	-webkit-transform-origin: -0.65px 0.6px;
}

.wlby_12
{
	position: absolute;
	-webkit-transform:matrix(1,0,0,1,314.35,316.45);
}

